@model MJ.Models.tblPlantHistory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblPlantHistory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblEvent.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblEvent.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblPlant.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblPlant.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
