@model SHARED.DATA.tblPlant


@{ 
    string editname = "editname_" + Model.iePlant.FirstOrDefault().ID.ToString();
    string editcreateddatetime = "editcreateddatetime_" + Model.iePlant.FirstOrDefault().ID.ToString();
}


<table class="w3-small  " style="position:absolute; left:0px; top:218px; width:100%;">



    <tr class="bg-transparent text-dark">
        <td width="5px;"></td>

        <td colspan="2" class="h6">
            <table>
                <tr>
                    <td>@ViewData["xCount"]</td>
                    <td>-</td>
                    <td id="@editname">@Model.iePlant.FirstOrDefault().Name</td>
                </tr>
            </table>
        </td>

    </tr>

    <tr style="height:2px; background-image:linear-gradient(to right, royalblue, crimson);"><td colspan="3"></td></tr>


    <tr class="bg-transparent text-dark">
        <td width="5px;"></td>

        <td width="20px;">
            <div class="glyphicon acf-et-glyph-icon acf-et-calendar"></div>
        </td>
        <td id="@editcreateddatetime">
            @Model.iePlant.FirstOrDefault().CreatedDateTime.Date.ToString("yyyy-MM-dd")
        </td>

    </tr>


    <tr class="bg-transparent text-dark">
        <td width="5px;"></td>
        <td width="20px;">
            <div class="glyphicon acf-es-glyph-icon acf-es-time"></div>
        </td>
        <td>
            <!--AGE-->
            @{
                if (Model.iePlant.FirstOrDefault().Age == 0)
                {
                    <table>
                        <tr>
                            <td>Created Today</td>
                        </tr>
                    </table>
                }
                else
                {
                    <table>
                        <tr>
                            <td>@Model.iePlant.FirstOrDefault().Age</td>
                            @if (Model.iePlant.FirstOrDefault().Age == 1)
                            {
                                <td>day</td>
                            }
                            else
                            {
                                <td>days</td>
                            }
                        </tr>
                    </table>

                }
            }
        </td>

    </tr>


    <tr class="bg-transparent text-dark">
        <td width="5px;"></td>
        <td width="20px;">
            <div class="glyphicon acf-et-glyph-icon acf-et-up-arrow"></div>
        </td>
        <td>
            <!--PHASE-->
            @if (Model.iePlant.FirstOrDefault().Phase == null)
            {
                <span class="badge badge-pill badge-danger">Not Available</span>
            }
            else
            {
                @Model.iePlant.FirstOrDefault().Phase
            }
        </td>

    </tr>

    <tr style="height:1px; background-image:linear-gradient(to right, crimson, purple);"><td colspan="3"></td></tr>

    <tr>
        <td width="5px;"></td>
        <td colspan="2">
            <table class="w3-tiny" style="width:100%">
                <tr>
                    <th>DATE</th>
                    <th>EVENT</th>
                    <th>DETAILS</th>
                </tr>

                @{
                    int xitemPlantHistoryCount = 0;

                    foreach (var itemPlantHistory in Model.iePlant.FirstOrDefault().iePlantHistory)
                    {
                        xitemPlantHistoryCount = xitemPlantHistoryCount + 1;
                        if (xitemPlantHistoryCount > 3)
                        {
                            break;
                        }

                        <tr>
                            <td>@itemPlantHistory.CreatedDateTime.ToString("yyyy/MM/dd")</td>

                            @{
                                //Picture
                                if (itemPlantHistory.EventID == 15)
                                {
                                    <td><div class="w3-text-deep-purple glyphicon acf-et-glyph-icon acf-et-photo-camera" style="font-size:medium"></div></td>
                                    <td>Added a Picture</td>
                                }

                                //Inspected
                                if (itemPlantHistory.EventID == 9)
                                {
                                    <td><div class="w3-text-green glyphicon acf-ec-glyph-icon acf-ec-view" style="font-size:medium"></div></td>
                                    <td>Inspected</td>
                                }

                                //Watered
                                if (itemPlantHistory.EventID == 10)
                                {
                                    <td><div class="w3-text-blue glyphicon acf-et-glyph-icon acf-et-droplet-of-water" style="font-size:medium"></div></td>
                                    <td>Watered</td>
                                }
                            }
                        </tr>
                    }

                }


            </table>




        </td>




    </tr>









</table>

