@model IEnumerable<SHARED.DATA.tblPlant>

@{
    ViewBag.Title = "Index";
}

<!--VARS-->
<div style="display:none`">
    <input type="hidden" id="zajaxedit">
    <input type="hidden" id="zcount">
</div>



<!--SEARCHING AND ORDERING-->
<div class="container small">
    <div class="row" style="background-color:whitesmoke;">
        <div class="col-sm-3">
            <button type="button" class="btn btn-primary btn-sm glyphicon acf-ec-glyph-icon acf-ec-add-1 float-left" onclick="showModal('idmodal_0001', 'Add');">&nbsp; Add a Plant</button>
        </div>
        <div class="col-sm-9" style="float:right; ">
            <form id="frmorderby" class="form-inline my-2 my-lg-0" style="float:right" method="post">
                <label>Order By: &nbsp;</label>
                <select class="form-control form-control-sm" id="orderby" name="orderby" onchange="document.getElementById('frmorderby').submit();">
                    @if (ViewData["orderby"].ToString() == "Name")
                    {
                        <option selected>Name</option>
                    }
                    else
                    {
                        <option>Name</option>}

                    @if (ViewData["orderby"].ToString() == "Created Date")
                    {
                        <option selected>Created Date</option>
                    }
                    else
                    {
                        <option>Created Date</option>}

                    @if (ViewData["orderby"].ToString() == "First Entry Date")
                    {
                        <option selected>First Entry Date</option>
                    }
                    else
                    {
                        <option>First Entry Date</option>}

                    @if (ViewData["orderby"].ToString() == "Last Entry Date")
                    {
                        <option selected>Last Entry Date</option>
                    }
                    else
                    {
                        <option>Last Entry Date</option>}

                    @if (ViewData["orderby"].ToString() == "Age")
                    {
                        <option selected>Age</option>
                    }
                    else
                    {
                        <option>Age</option>}

                    @if (ViewData["orderby"].ToString() == "Amount of Plants")
                    {
                        <option selected>Amount of Events</option>
                    }
                    else
                    {
                        <option>Amount of Plants</option>}

                </select>
                <select class="form-control form-control-sm" id="ascendingdescending" name="ascendingdescending" onchange="document.getElementById('frmorderby').submit();">
                    @if (ViewData["ascendingdescending"].ToString() == "Ascending")
                    {
                        <option selected>Ascending</option>
                        <option>Descending</option>
                    }
                    else
                    {
                        <option>Ascending</option>
                        <option selected>Descending</option>
                    }
                </select>
                <input style="float:right" class="form-control form-control-sm mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="inputSearch" onkeyup="DoWork('inputSearch')">
            </form>
        </div>
    </div>
</div>

<!--MODAL-->
<div id="idmodal_0001" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:350px">

        
            <table style="width:100%" class="w3-xlarge w3-dark-gray">
                <tr>
                    <td width="16px"></td>
                    <td width="5px;" style="white-space: nowrap;">
                        <span id="idmodal_0001_title">Add a Plant</span>
                    </td>
                    <td></td>
                    <td width="5px;">
                        <span onclick="hideModal('idmodal_0001');" class="w3-button w3-hover-red " title="Close">&times;</span>
                    </td>
                </tr>
            </table>
        

            <div class="w3-container w3-padding-16">
                <input type="hidden" class="form-control" name="xcommand" id="idmodal_0001_frm_0001_xcommand" value="Add">
                <input type="hidden" class="form-control" name="xplantid" id="idmodal_0001_frm_0001_xplantid" value="0">

                <label id="xcreateddatetimelabel" style="margin-bottom:0px;"><b>Created Date</b></label>
                <input type="date" class="form-control" name="xcreateddatetime" id="xcreateddatetime" placeholder="Choose a date" required style="width:100%">
                <label style="margin-bottom:0px;margin-top:5px;"><b>Name</b></label>
                <input type="text" class="form-control" name="xname" id="xname" placeholder="Name your plant" required>

            </div>

        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
            <button onclick="document.getElementById('idmodal_0001').style.display='none'" type="button" class="btn btn-danger">Cancel</button>

            <div class="btn btn-success w3-right" onclick="saveModal('idmodal_0001');">Save</div>
            
        </div>

    </div>
</div>



<div class="">
    <div class="row" style="margin-left:5px; margin-right:5px;">

        @{ 
            int xCount = 0;
            string xsCount;
        }


        @foreach (var item in Model)
        {
            xCount = xCount + 1;
            xsCount = xCount.ToString().PadLeft(2, '0');

            string frm_takepic = "frm_takepic_" + item.ID.ToString();
            string frm_addinspected = "frm_addinspected_" + item.ID.ToString();
            string frm_addwatered = "frm_addwatered_" + item.ID.ToString();

            string span_previouspic = "span_previouspic_" + item.ID.ToString();
            string span_nextpic = "span_nextpic_" + item.ID.ToString();

            string takepic = "takepic_" + item.ID.ToString();
            string takepicresized = "takepic_" + item.ID.ToString() + "_" + item.ID.ToString();

            string divpic = "divpic_" + item.ID.ToString();
            string divloadinganimation = "divloadinganimation_" + item.ID.ToString();
            string divdata = "divdata_" + item.ID.ToString();

            string previousactionid = "previousactionid_" + item.ID.ToString();
            string nextactionid = "nextactionid_" + item.ID.ToString();

            string ajaxaddimage = "ajaxaddimage_" + item.ID.ToString();
            string ajaxrefreshdata = "ajaxrefreshdata_" + item.ID.ToString();
            string ajaxaddinspected = "ajaxaddinspected_" + item.ID.ToString();
            string ajaxaddwatered = "ajaxaddwatered_" + item.ID.ToString();
            string ajaxedit = "ajaxedit_" + item.ID.ToString();

            string editname = "editname_" + item.ID.ToString();
            string editcreateddatetime = "editcreateddatetime_" + item.ID.ToString();

            <!--ITEM-->
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="col-md-12">

                    <!--INNER WITH SHADOW AND BACKGROUND IMAGE-->
                    <div class="row" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); height:385px; ">

                        <!--BACKGROUND IMAGE-->
                        <!--
    <img class="img-fluid w3-opacity-max" src="~/Content/Pics/Stock/Originals/IMG_20190109_103139.jpg" />
    -->
                        <!--TOP IMAGE-->

                        @{
                            if (item.LastPicture != null)
                            {

                                // var base64 = Convert.ToBase64String(item.LastPictureThumbnail);
                                // var imgsrc = string.Format("data:image/jpeg;base64,{0}", base64);

                                // <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); position:absolute; left:0px; top:15px; width:100%;height:200px;" src='@imgsrc' />
                            }
                            else
                            {
                                <table style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); position:absolute; left:0px; top:15px; width:100%;">
                                    <tr style="height:200px;">
                                        <td></td>
                                    </tr>
                                </table>

                                <table style="position:absolute; left:0px; top:80px; width:100%">
                                    <tr>
                                        <td style="width:20%;"></td>
                                        <td class="w3-center">
                                            <div class="w3-xxxlarge glyphicon acf-et-glyph-icon acf-et-tree-leaf" style="color:#e0e0e0"></div>
                                        </td>
                                        <td style="width:20%;"></td>
                                    </tr>
                                </table>
                            }
                        }

                        <!--AJAX UPDATED-->
                                <div id="@divpic" style="position:absolute; left:0px; top:15px; width:100%; height:200px;">
                                    <div style="display:none">


                                        @Ajax.ActionLink("Ajax", "PreviousImage", new { xplantid = item.ID, xplanthistoryid = int.MaxValue.ToString() }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = divpic, InsertionMode = InsertionMode.Replace, LoadingElementId = divloadinganimation }, new { id = previousactionid })

                                    </div>

                                    <!--SIDE BUTTONS-->
                                    @{
                                        if (item.LastPicture != null)
                                        {
                                            <table style="position:absolute; left:3px; top:90px; opacity:@SHARED.CLASSES.clsGlobal.gOpacity; width:100%;">
                                                <tr>
                                                    @{
                                                        var xImageList = item.iePlantHistory.Where(r => (r.EventID.ToString() == "15"));
                                                        var xOrdered = xImageList.OrderBy(x => x.ID);

                                                        var xFirstRec = xOrdered.FirstOrDefault();

                                                        if (xFirstRec.ID != item.LastPictureID)
                                                        {
                                                            <td width="15px">
                                                                <span class="btn w3-hover-text-lime w3-text-light-gray glyphicon acf-et-glyph-icon acf-et-scroll-arrow-to-left" style="padding:0px;font-size:large;" onclick="document.getElementById('@previousactionid').click();"></span>
                                                            </td>
                                                        }
                                                    }

                                                    <td></td>

                                                    @{
                                                        xImageList = item.iePlantHistory.Where(r => (r.EventID.ToString() == "15"));
                                                        xOrdered = xImageList.OrderByDescending(x => x.ID);

                                                        var xLastRec = xOrdered.FirstOrDefault();

                                                        if (xLastRec.ID != item.LastPictureID)
                                                        {
                                                            <td width="15px">
                                                                <span class="btn w3-hover-text-lime w3-text-light-gray glyphicon acf-et-glyph-icon acf-et-scroll-arrow-to-right" style="padding:0px;font-size:large;" onclick="document.getElementById('@nextactionid').click();"></span>
                                                            </td>
                                                        }
                                                    }

                                                    <td width="5px;"></td>

                                                </tr>
                                            </table>
                                        }
                                    }

                                </div>

                        <!--LOADING ANIMATION-->
                        <div id="@divloadinganimation" style="display:none">
                            <table style="position:absolute; left:0px; top:15px; width:100%; opacity:@SHARED.CLASSES.clsGlobal.gOpacity">
                                <tr style="height:200px;">
                                    <td align="center">
                                        <img src="~/Content/Plant/loading.svg" />
                                    </td>
                                </tr>
                            </table>
                        </div>


                        <!--MENU BACKGROUND-->
                        <table class="w3-opacity-min" style="background-image:linear-gradient(to bottom, black,  transparent); position:absolute; left:0px; top:15px; width:100%; height:35px;">
                            <tr>
                                <td></td>
                            </tr>
                        </table>
                        <table class="w3-opacity-min" style="background-image:linear-gradient(to top, black,  transparent); position:absolute; left:0px; top:180px; width:100%; height:35px;">
                            <tr>
                                <td></td>
                            </tr>
                        </table>




                        <!--TOP BUTTONS-->
                        <table style="position:absolute; left:3px; top:15px; width:100%; opacity:@SHARED.CLASSES.clsGlobal.gOpacity;">
                            <tr>
                                <td width="15px">
                                    <input id="@takepic" name="xpicorig" type="file" accept="image/*;capture=camera" style="display:none" onchange="uploadPhotos('@item.ID','@divpic','@divloadinganimation','@previousactionid','@ajaxrefreshdata');">
                                        <input type="hidden" class="form-control" name="xcommand" id="xcommand" value="AddImage">

                                        <input type="hidden" class="form-control" name="xplantid" id="xplantid" value="@item.ID">
                                        <input id="@takepicresized" name="xcompressedpic" type="hidden" style="display:none" onchange="">

                                        <span class="btn w3-hover-text-deep-purple w3-text-light-gray glyphicon acf-et-glyph-icon acf-et-photo-camera" style="padding:0px;font-size:large;" onclick="document.getElementById('@takepic').click()"></span>
                                </td>

                                <td></td>

                                <td width="15px">
                                    <span class="btn w3-hover-text-lime w3-text-light-gray glyphicon acf-et-glyph-icon acf-et-two-dots-button" style="outline:none; padding:0px; font-size:large;" onclick="showhideSubMenu('menu_0001');"></span>
                                </td>

                                <td width="5px;"></td>

                            </tr>
                        </table>

                        <!--BOTTOM BUTTONS-->
                        <table style="position:absolute; left:3px; top:185px; width:100%; opacity:@SHARED.CLASSES.clsGlobal.gOpacity;">
                            <tr>
                                <td width="15px">
                                    <div style="display:none">
                                        @Ajax.ActionLink("Ajax", "RefreshData", new { xplantid = item.ID, xcount = xsCount }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = divdata, InsertionMode = InsertionMode.Replace, LoadingElementId = divloadinganimation }, new { id = ajaxrefreshdata })
                                    </div>
                                    <div style="display:none">
                                        @Ajax.ActionLink("Ajax", "AddInspected", new { xplantid = item.ID, xcount = xsCount }, new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = divdata, InsertionMode = InsertionMode.Replace, LoadingElementId = divloadinganimation }, new { id = ajaxaddinspected })
                                    </div>
                                    <span class="btn w3-hover-text-green w3-text-light-gray glyphicon acf-ec-glyph-icon acf-ec-view" style="padding:0px;font-size:large;" onclick="document.getElementById('@ajaxaddinspected').click()"></span>
                                </td>

                                <td width="15px">
                                    <div style="display:none">
                                        @Ajax.ActionLink("Ajax", "AddWatered", new { xplantid = item.ID, xcount = xsCount }, new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = divdata, InsertionMode = InsertionMode.Replace, LoadingElementId = divloadinganimation }, new { id = ajaxaddwatered })
                                    </div>
                                     <span class="btn w3-hover-text-blue w3-text-light-gray glyphicon acf-et-glyph-icon acf-et-droplet-of-water" style="padding:0px;font-size:large;" onclick="document.getElementById('@ajaxaddwatered').click()"></span>
                                </td>

                                <td></td>

                                <td width="15px">
                                    <div style="display:none">
                                        @Ajax.ActionLink("Ajax", "Edit", new { xplantid = item.ID, xcount = xsCount, xname = item.Name, xcreateddatetime = item.CreatedDateTime}, new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = divdata, InsertionMode = InsertionMode.Replace, LoadingElementId = divloadinganimation }, new { id = ajaxedit })
                                    </div>
                                    <span class="btn w3-hover-text-orange w3-text-light-gray glyphicon acf-ec-glyph-icon acf-ec-edit" style="padding:0px;font-size:large;" onclick="showModal('idmodal_0001', 'Edit', '@editname', '@editcreateddatetime',  '@item.ID', '@ajaxedit', '@xsCount' );"></span>
                                </td>

                                <td width="5px;"></td>

                            </tr>
                        </table>


                        <!--SUBMENU-->
                        <!--ROW1-->
                        <!--NUTRIENT-->
                        <table id="menu_0001" style="display:none; position:absolute; left:3px; top:40px; width:100%; opacity:@SHARED.CLASSES.clsGlobal.gOpacity;">
                            <tr>
                                <td></td>

                                <td width="5px;">
                                    <table class="btn w3-hover-text-white w3-text-light-gray w3-tiny" style="outline:none; padding:0px;">
                                        <tr>
                                            <td width="5px;" style="white-space: nowrap;">
                                                <span>Nutrients</span>
                                            </td>

                                            <td width="5px;"></td>

                                            <td width="15px">
                                                <span class="glyphicon acf-et-glyph-icon acf-et-drops-of-water" style="outline:none; padding:0px; font-size:large;"></span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="5px;"></td>
                            </tr>
                        </table>

                        <!--CHEMICALS-->
                        <table id="menu_0002" style="display:none; position:absolute; left:3px; top:40px; width:50%; opacity:@SHARED.CLASSES.clsGlobal.gOpacity;">
                            <tr>
                                <td width="5px;">
                                    <table class="btn w3-hover-text-white w3-text-light-gray w3-tiny" style="outline:none; padding:0px;">
                                        <tr>
                                            <td width="15px">
                                                <span class="glyphicon acf-et-glyph-icon acf-et-four-squares" style="outline:none; padding:0px; font-size:large;"></span>
                                            </td>

                                            <td width="5px;"></td>

                                            <td width="5px;" style="white-space: nowrap;">
                                                <span>Chemicals</span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>

                        <!--ROW2-->
                        <!--PHASE CHANGE-->
                        <table id="menu_0003" style="display:none; position:absolute; left:3px; top:60px; width:100%; opacity:@SHARED.CLASSES.clsGlobal.gOpacity;">
                            <tr>
                                <td></td>

                                <td width="5px;">
                                    <table class="btn w3-hover-text-white w3-text-light-gray w3-tiny" style="outline:none; padding:0px;">
                                        <tr>
                                            <td width="5px;" style="white-space: nowrap;">
                                                <span>Phase Change</span>
                                            </td>

                                            <td width="5px;"></td>

                                            <td width="15px">
                                                <span class="glyphicon acf-et-glyph-icon acf-et-up-arrow" style="outline:none; padding:0px; font-size:large;"></span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="5px;"></td>
                            </tr>
                        </table>

                        <!--MEDIUM CHANGE-->
                        <table id="menu_0004" style="display:none; position:absolute; left:3px; top:60px; width:50%; opacity:@SHARED.CLASSES.clsGlobal.gOpacity;">
                            <tr>
                                <td width="5px;">
                                    <table class="btn w3-hover-text-white w3-text-light-gray w3-tiny" style="outline:none; padding:0px;">
                                        <tr>
                                            <td width="15px">
                                                <span class="glyphicon acf-ec-glyph-icon acf-ec-layers" style="outline:none; padding:0px; font-size:large;"></span>
                                            </td>

                                            <td width="5px;"></td>

                                            <td width="5px;" style="white-space: nowrap;">
                                                <span>Medium Change</span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>

                        <!--ROW3-->
                        <!--LOCATION CHANGE-->
                        <table id="menu_0005" style="display:none; position:absolute; left:3px; top:80px; width:100%; opacity:@SHARED.CLASSES.clsGlobal.gOpacity;">
                            <tr>
                                <td></td>

                                <td width="5px;">
                                    <table class="btn w3-hover-text-white w3-text-light-gray w3-tiny" style="outline:none; padding:0px;">
                                        <tr>
                                            <td width="5px;" style="white-space: nowrap;">
                                                <span>Location Change</span>
                                            </td>

                                            <td width="5px;"></td>

                                            <td width="15px">
                                                <span class="glyphicon acf-et-glyph-icon acf-et-planet-earth" style="outline:none; padding:0px; font-size:large;"></span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="5px;"></td>
                            </tr>
                        </table>

                        <!--PROBLEMS-->
                        <table id="menu_0006" style="display:none; position:absolute; left:3px; top:80px; width:50%; opacity:@SHARED.CLASSES.clsGlobal.gOpacity;">
                            <tr>
                                <td width="5px;">
                                    <table class="btn w3-hover-text-white w3-text-light-gray w3-tiny" style="outline:none; padding:0px;">
                                        <tr>
                                            <td width="15px">
                                                <span class="glyphicon acf-ec-glyph-icon acf-ec-warning" style="outline:none; padding:0px; font-size:large;"></span>
                                            </td>

                                            <td width="5px;"></td>

                                            <td width="5px;" style="white-space: nowrap;">
                                                <span>Problems</span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>

                        <!--ROW4-->
                        <!--ENVIRONMENT-->
                        <table id="menu_0007" style="display:none; position:absolute; left:3px; top:100px; width:100%; opacity:@SHARED.CLASSES.clsGlobal.gOpacity;">
                            <tr>
                                <td></td>

                                <td width="5px;">
                                    <table class="btn w3-hover-text-white w3-text-light-gray w3-tiny" style="outline:none; padding:0px;">
                                        <tr>
                                            <td width="5px;" style="white-space: nowrap;">
                                                <span>Environment</span>
                                            </td>

                                            <td width="5px;"></td>

                                            <td width="15px">
                                                <span class="glyphicon acf-et-glyph-icon acf-et-mercury-thermometer" style="outline:none; padding:0px; font-size:large;"></span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="5px;"></td>
                            </tr>
                        </table>

                        <!--ORIGIN-->
                        <table id="menu_0008" style="display:none; position:absolute; left:3px; top:100px; width:50%; opacity:@SHARED.CLASSES.clsGlobal.gOpacity;">
                            <tr>
                                <td width="5px;">
                                    <table class="btn w3-hover-text-white w3-text-light-gray w3-tiny" style="outline:none; padding:0px;">
                                        <tr>
                                            <td width="15px">
                                                <span class="glyphicon acf-ec-glyph-icon acf-ec-placeholder-3" style="outline:none; padding:0px; font-size:large;"></span>
                                            </td>

                                            <td width="5px;"></td>

                                            <td width="5px;" style="white-space: nowrap;">
                                                <span>Origin</span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>

                        <!--ROW5-->
                        <!--VARIETY-->
                        <table id="menu_0009" style="display:none; position:absolute; left:3px; top:120px; width:100%; opacity:@SHARED.CLASSES.clsGlobal.gOpacity;">
                            <tr>
                                <td width="5px;">
                                    <table class="btn w3-hover-text-white w3-text-light-gray w3-tiny" style="outline:none; padding:0px;">
                                        <tr>
                                            <td width="15px">
                                                <span class="glyphicon acf-et-glyph-icon acf-et-small-leaf" style="outline:none; padding:0px; font-size:large;"></span>
                                            </td>

                                            <td width="5px;"></td>

                                            <td width="5px;" style="white-space: nowrap;">
                                                <span>Variety</span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>

                        <!--DATA-->
                        <div id="@divdata">
                        <table class="w3-small  " style="position:absolute; left:0px; top:218px; width:100%;">



                            <tr class="bg-transparent text-dark">
                                <td width="5px;"></td>

                                <td colspan="2" class="h6">
                                    <table>
                                        <tr>
                                            <td>@xsCount</td>
                                            <td>-</td>
                                            <td id="@editname">@item.Name</td>
                                        </tr>
                                    </table>
                                </td>

                            </tr>

                            <tr style="height:2px; background-image:linear-gradient(to right, royalblue, crimson);"><td colspan="3"></td></tr>


                            <tr class="bg-transparent text-dark">
                                <td width="5px;"></td>

                                <td width="20px;">
                                    <div class="glyphicon acf-et-glyph-icon acf-et-calendar"></div>
                                </td>
                                <td id="@editcreateddatetime">
                                    @item.CreatedDateTime.Date.ToString("yyyy-MM-dd")
                                </td>

                            </tr>


                            <tr class="bg-transparent text-dark">
                                <td width="5px;"></td>
                                <td width="20px;">
                                    <div class="glyphicon acf-es-glyph-icon acf-es-time"></div>
                                </td>
                                <td>
                                    <!--AGE-->
                                    @{
                                        if (item.Age == 0)
                                        {
                                            <table>
                                                <tr>
                                                    <td>Created Today</td>
                                                </tr>
                                            </table>
                                        }
                                        else
                                        {
                                            <table>
                                                <tr>
                                                    <td>@item.Age</td>
                                                    @if (item.Age == 1)
                                                    {
                                                        <td>day</td>
                                                    }
                                                    else
                                                    {
                                                        <td>days</td>
                                                    }
                                                </tr>
                                            </table>

                                        }
                                    }
                                </td>

                            </tr>


                            <tr class="bg-transparent text-dark">
                                <td width="5px;"></td>
                                <td width="20px;">
                                    <div class="glyphicon acf-et-glyph-icon acf-et-up-arrow"></div>
                                </td>
                                <td>
                                    <!--PHASE-->
                                    @if (item.Phase == null)
                                    {
                                        <span class="badge badge-pill badge-danger">Not Available</span>
                                    }
                                    else
                                    {
                                        @item.Phase
                                    }
                                </td>

                            </tr>

                            <tr style="height:1px; background-image:linear-gradient(to right, crimson, purple);"><td colspan="3"></td></tr>

                            <tr>
                                <td width="5px;"></td>
                                <td colspan="2">
                                    <table class="w3-tiny" style="width:100%">
                                        <tr>
                                            <th>DATE</th>
                                            <th>EVENT</th>
                                            <th>DETAILS</th>
                                        </tr>

                                        @{
                                            int xitemPlantHistoryCount = 0;

                                            foreach (var itemPlantHistory in item.iePlantHistory)
                                            {
                                                xitemPlantHistoryCount = xitemPlantHistoryCount + 1;
                                                if (xitemPlantHistoryCount > 3)
                                                {
                                                    break;
                                                }

                                                <tr>
                                                    <td>@itemPlantHistory.CreatedDateTime.ToString("yyyy/MM/dd")</td>

                                                    @{
                                                        //Picture
                                                        if (itemPlantHistory.EventID == 15)
                                                        {
                                                            <td><div class="w3-text-deep-purple glyphicon acf-et-glyph-icon acf-et-photo-camera" style="font-size:medium"></div></td>
                                                            <td>Added a Picture</td>
                                                        }

                                                        //Inspected
                                                        if (itemPlantHistory.EventID == 9)
                                                        {
                                                            <td><div class="w3-text-green glyphicon acf-ec-glyph-icon acf-ec-view" style="font-size:medium"></div></td>
                                                            <td>Inspected</td>
                                                        }

                                                        //Watered
                                                        if (itemPlantHistory.EventID == 10)
                                                        {
                                                            <td><div class="w3-text-blue glyphicon acf-et-glyph-icon acf-et-droplet-of-water" style="font-size:medium"></div></td>
                                                            <td>Watered</td>
                                                        }
                                                    }
                                                </tr>
                                            }

                                        }


                                    </table>




                                </td>




                            </tr>









                        </table>
                        </div>



                    </div>
                            </div>
            </div>
        }

    </div>
</div>


@section scripts {
<script>
        function hideModal(controlId) {
            document.getElementById(controlId).style.display = 'none';
        }

    function saveModal(controlId) {
        //console.log()
        var a = document.getElementById(document.getElementById('zajaxedit').value); //or grab it by tagname etc
        a.href = "/MJ2/Plant/Edit?xplantid=" + document.getElementById('idmodal_0001_frm_0001_xplantid').value +
            "&xcount=" + document.getElementById('zcount').value + "&xname=" + document.getElementById('xname').value +
            "&xcreateddatetime=" + document.getElementById('xcreateddatetime').value;

        document.getElementById(controlId).style.display = 'none';
        a.click();
    }

        function showModal(controlId, addedit, xeditname, xeditcreateddatetime, xplantid, xajaxedit, xcount) {
            //alert('A');
            if (addedit == 'Add') {

                //alert('Add');

                @{
                    int xRecCount = Model.Count();
                    xRecCount = xRecCount + 1;

                    string sRecCount = xRecCount.ToString().PadLeft(5, '0');
                    sRecCount = "Plant " + sRecCount;

                    IEnumerable<SHARED.DATA.tblPlant> query = Model.Where(x => x.Name == sRecCount);
                    while (query.Count() > 0)
                    {

                        xRecCount = xRecCount + 1;
                        sRecCount = xRecCount.ToString().PadLeft(5, '0');
                        sRecCount = "Plant " + sRecCount;
                        query = Model.Where(x => x.Name == sRecCount);
                    }

                }

                document.getElementById('idmodal_0001_frm_0001_xcommand').value = 'Add';
                document.getElementById('idmodal_0001_title').innerText = 'Add a Plant';
                document.getElementById('xname').value = '@sRecCount';
                document.getElementById('xcreateddatetimelabel').style.display = 'none';
                document.getElementById('xcreateddatetime').style.display = 'none';


                //alert('display');
                document.getElementById(controlId).style.display = 'block';
                document.getElementById('xname').focus();
            };

            if (addedit == 'Edit') {
                //alert(xajaxedit);
                document.getElementById('zajaxedit').value = xajaxedit;
                document.getElementById('zcount').value = xcount;
                //alert(document.getElementById('zajaxedit').value);

                //alert('Edit');
                document.getElementById('idmodal_0001_frm_0001_xcommand').value = 'Edit';
                document.getElementById('idmodal_0001_title').innerText = 'Edit a Plant';


                document.getElementById('idmodal_0001_frm_0001_xplantid').value = xplantid;
                document.getElementById('xname').value = document.getElementById(xeditname).innerText;
                document.getElementById('xcreateddatetime').value = document.getElementById(xeditcreateddatetime).innerText.replace(' ','');

                document.getElementById('xcreateddatetimelabel').style.display = 'block';
                document.getElementById('xcreateddatetime').style.display = 'block';

                document.getElementById(controlId).style.display = 'block';
                document.getElementById('xcreateddatetime').focus();
            };
        }

        window.uploadPhotos = function (xplantid, xupdatetargetid, xloadingelementid, xajaxreload, xajaxrefreshdata ) {

            //alert('Resizing');
            // Read in file
            var file = event.target.files[0];

            // Ensure it's an image
            if (file.type.match(/image.*/)) {
                //console.log('An image has been loaded');

                // Load the image
                var reader = new FileReader();
                reader.onload = function (readerEvent) {
                    var image = new Image();
                    image.onload = function (imageEvent) {

                        // Resize the image
                        var canvas = document.createElement('canvas'),
                            max_size = @SHARED.CLASSES.clsGlobal.gImageSize,
                            width = image.width,
                            height = image.height;
                        if (width > height) {
                            if (width > max_size) {
                                height *= max_size / width;
                                width = max_size;
                            }
                        } else {
                            if (height > max_size) {
                                width *= max_size / height;
                                height = max_size;
                            }
                        }
                        canvas.width = width;
                        canvas.height = height;
                        canvas.getContext('2d').drawImage(image, 0, 0, width, height);
                        var dataUrl = canvas.toDataURL('jpeg');

                        var formData = {
                            'xplantid': xplantid,
                            'xcompressedimage': dataUrl
                        };

                        $.ajax({
                            'type': 'POST',
                            url: "/MJ2/Plant/AddImage",
                            data: formData,

                            dataType: "text",
                            beforeSend: function () {
                               // alert('before');
                                document.getElementById(xloadingelementid).style.display = 'block';
                            },

                            success: function () {
                              //  alert('after');
                                document.getElementById(xloadingelementid).style.display = 'none';

                                //Load last image
                                var a = document.getElementById(xajaxreload); //or grab it by tagname etc
                                a.href = "/MJ2/Plant/PreviousImage?xplantid=" + xplantid + "&xplanthistoryid=2147483647"
                                document.getElementById(xajaxreload).click();
                                document.getElementById(xajaxrefreshdata).click();
                            },
                            error: function () {
                            }
                        });
                    }
                    image.src = readerEvent.target.result;
                }
                reader.readAsDataURL(file);



            }
        };


        function showhideSubMenu(controlId) {
            var x = document.getElementById('menu_0001');
            if (x.style.display === "none") {
                x.style.display = "table";
            } else {
                x.style.display = "none";
            }

            x = document.getElementById('menu_0002');
            if (x.style.display === "none") {
                x.style.display = "table";
            } else {
                x.style.display = "none";
            }

            x = document.getElementById('menu_0003');
            if (x.style.display === "none") {
                x.style.display = "table";
            } else {
                x.style.display = "none";
            }

            x = document.getElementById('menu_0004');
            if (x.style.display === "none") {
                x.style.display = "table";
            } else {
                x.style.display = "none";
            }

            x = document.getElementById('menu_0005');
            if (x.style.display === "none") {
                x.style.display = "table";
            } else {
                x.style.display = "none";
            }

            x = document.getElementById('menu_0006');
            if (x.style.display === "none") {
                x.style.display = "table";
            } else {
                x.style.display = "none";
            }

            x = document.getElementById('menu_0007');
            if (x.style.display === "none") {
                x.style.display = "table";
            } else {
                x.style.display = "none";
            }

            x = document.getElementById('menu_0008');
            if (x.style.display === "none") {
                x.style.display = "table";
            } else {
                x.style.display = "none";
            }

            x = document.getElementById('menu_0009');
            if (x.style.display === "none") {
                x.style.display = "table";
            } else {
                x.style.display = "none";
            }
        }

        function LoadImages() {
        @{
            foreach (var item in Model)
            {
                if (item.LastPicture != null)
                {
                    string previousactionid = "previousactionid_" + item.ID.ToString();

                    <text>document.getElementById('@previousactionid').click();</text>
                }
            }


        }
        }

        
        //Run these when the page loads
        LoadImages();



</script>
}
